<div class="dashboard-container">

  <header>
    <h1>Recruitify Dashboard</h1>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </header>

  <!-- CARDS -->
  <div class="cards">
    <div class="card">
      <h3>Total Applicants</h3>
      <p>128</p>
    </div>

    <div class="card">
      <h3>Shortlisted</h3>
      <p>42</p>
    </div>

    <div class="card">
      <h3>Interviews Today</h3>
      <p>8</p>
    </div>

    <div class="card">
      <h3>Positions Open</h3>
      <p>5</p>
    </div>
  </div>

  <!-- TABLE -->
  <div class="table-section">
    <h2>Recent Applications</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Anita</td>
        <td>Frontend Developer</td>
        <td>Shortlisted</td>
      </tr>
      <tr>
        <td>Rahul</td>
        <td>Backend Developer</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Priya</td>
        <td>UI Designer</td>
        <td>Interview Scheduled</td>
      </tr>
    </table>
  </div>

</div>