/* FULL PAGE BACKGROUND */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #392213; /* SOLID brown */
}

/* LOGIN BOX */
.login-box {
  background: #f3e8dc;
  padding: 35px;
  border-radius: 14px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
}

h2 {
  color: #4a2e2a;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #d8cfc4;
  background: #fff;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #6b4a34;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #523626;
}

.error {
  color: #a94442;
  margin-top: 10px;
}